/** action */

QAction#component-remove-action {}


QFrame#action-item:hover {
    border: 1px solid $border;
    border-radius: 2px;
    color: $dark-blue;
    //background-color: $highlight-background;
}
