/** action */

QAction#component-remove-action {}


.ActionItem:hover {
    border: 1px solid $border;
    border-radius: 2px;
    color: $dark-blue;
    //background-color: $highlight-background;
}
.ActionItem:clicked {
    border: 1px solid $border;
    border-radius: 2px;
    color: $dark-blue;
    background-color: $highlight-background;
}
