/** Button */
QPushButton {
    border: 1px solid $border;
    border-radius: 2px;
    color: $primary-text;
    padding: 4px;
    min-width: 80px;
}

QPushButton:hover {
    border-color: $border;
    background-color: $background-raised;
    color: $primary-text;
}

QPushButton:pressed {
    border-color: $border;
    background-color: $background-raised;
    color: $primary-text;
}

QPushButton:disabled {
    border-color: $border;
    background-color: $background-raised;
    color: $primary-text;
}

QPushButton#primary {
    color: $dark-blue;
    background-color: $primary-color;
    border-color: $primary-color;
}

QPushButton#primary:hover {
    color: $dark-blue;
    background-color: mix($primary-color , $blend-color, 95%);
    border-color: mix($primary-color , $blend-color, 95%);
}

QPushButton#primary:pressed {
    color: $dark-blue;
    background-color: mix($primary-color , $blend-color, 95%);
    border-color: mix($primary-color , $blend-color, 95%);
}

/** Flat button */
QPushButton[flat="true"]:pressed {
    background: none;
    border: 1px solid $border;
}

/** Toolbuttons */
QToolButton {
    border: 1px solid $border;
    border-radius: 2px;
    background-color: $background-raised;
    color: $primary-text ;
}

QToolButton:hover {
    border-color:$border;
    background-color: $highlight-background;
    color: $primary-text;
}

QToolButton:pressed {
    border-color: $border;
    background-color:  $highlight-background ;
    color: $primary-text ;
}
