/** Button */
QPushButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: black;
    padding: 4px;
    min-width: 80px;

}

QPushButton:hover {
    border-color: darken($border-color, 5%);
    background-color: $brand-primary;
    color: white
}

QPushButton:pressed {
    border-color: darken($border-color, 5%);
    background-color: darken($brand-primary, 5%);
    color: white

}

QPushButton:disabled {
    border-color: darken($border-color, 10%);
    background-color: $gray-lighter;
    color: lighten($text-color, 25%);
}

QPushButton#primary {
    background-color: $brand-primary;
    color: white;
}

QPushButton#primary:hover {
    background-color: $brand-primary;
    border-color: $border-color;
    color: lighten($brand-primary, 90%);
}

QPushButton#primary:pressed {
    background-color: darken($brand-primary, 5%);
    border-color: darken($border-color, 5%);
    color: lighten($brand-primary, 90%);
}

/** Flat button */
QPushButton[flat="true"]:pressed {
    background: none;
    border: 1px solid $border-color;
}

/** Toolbuttons */
QToolButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: black;
}

QToolButton:hover {
    border-color: darken($border-color, 5%);
    background-color: $brand-primary;
    color: white
}

QToolButton:pressed {
    border-color: darken($border-color, 5%);
    background-color: $brand-primary;
    color: white
}
