/** Button */
QPushButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    //background-color: $white;
    color: $text-color-default;
    padding: 4px;
    min-width: 80px;
}

QPushButton:hover {
    border-color: $border-color;
    background-color: $gray-lighter;
    color: $text-color-default-hover;
}

QPushButton:pressed {
    border-color: $border-color;
    background-color: $gray-lighter;
    color: $text-color-default-pressed;
}

QPushButton:disabled {
    border-color: $border-color;
    background-color: $gray-lighter;
    color: $text-color;
}

QPushButton#primary {
    //background-color: $brand-primary;
    color: $brand-primary;
    border-color: $brand-primary;
}

QPushButton#primary:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $text-color;
}

QPushButton#primary:pressed {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: $text-color;
}

/** Flat button */
QPushButton[flat="true"]:pressed {
    background: none;
    border: 1px solid $border-color;
}

/** Toolbuttons */
QToolButton {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: black;
}

QToolButton:hover {
    border-color:$border-color;
    background-color:  $gray-lighter;
    color: white
}

QToolButton:pressed {
    border-color: $border-color;
    background-color:  $gray-lighter;
    color: white
}
