/** Combo Box. */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 8px;
    padding: $input-padding;
    border: 0;
}

QComboBox::down-arrow {
    image: theme-image('downArrow');
    width: 8px;
    height: 8px;
    margin-right: $input-padding;
}

QComboBox QAbstractItemView {
    background: $background-raised ;
    color: $primary-text ;
    outline: 0;
    border: 1px solid $border;
    border-radius: 2px;
}

QComboBox QAbstractItemView::item {
    padding: $input-padding 0;
}

QComboBox QAbstractItemView::item:selected {
    background-color: $highlight-background ;
    color: $primary-text;
}

QComboBox[ftrackCurrentIndexIsDefault="true"] {
    color: $primary-text;
}
