/** Combo Box. */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 8px;
    padding: $input-padding;
    border: 0;
}

QComboBox::down-arrow {
    image: theme-image('downArrow');
    width: 8px;
    height: 8px;
    margin-right: $input-padding;
}

QComboBox QAbstractItemView {
    background: $input-background;
    color: $text-color;
    outline: 0;
    border: 1px solid $input-border-color;
    border-radius: 2px;
}

QComboBox QAbstractItemView::item {
    padding: $input-padding 0;
}

QComboBox QAbstractItemView::item:selected {
    background-color: $gray-lighter;
    color: $text-color;
}

QComboBox[ftrackCurrentIndexIsDefault="true"] {
    color: $text-color-light;
}
