/** Combo Box. */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border: 0;
}

QComboBox QAbstractItemView {
    background: $input-background;
    color: $text-color;
    border: 0;
    outline: 0;
}

QComboBox QAbstractItemView::item {
    padding: $input-padding 0;
}

QComboBox QAbstractItemView::item:selected {
    background-color: $gray-lighter;
    color: $text-color;
}
