QFrame[ftrackDropZone] {
    border-radius: 2px;
    border-width: 2px;
    border-style: dashed;
    border-color: $input-border-color;

    > QLabel {
        color: $gray-light;
    }
}

QFrame[ftrackDropZoneState='active'] {
    border-color: $input-border-color-focus;
}

QFrame[ftrackDropZoneState='invalid'] {
    border-color: $input-border-color-invalid;
}

