/** EntityBrowser */

EntityBrowser QTabBar {
    border: 1px solid $gray-light;
    background: $white;
}


EntityBrowser QTabBar::tab {
    background: $brand-primary;
    min-width: 0px;
    padding: 2px 8px;
    color: $color-white;
    border-radius: 3px;
    margin: 3px;
    margin-right: 0px;
}


EntityBrowser QTabBar::tab:selected {
    color: $color-white;
}


EntityBrowser QTabBar::tab:hover {
    background-color: darken($brand-primary, 5%);
    border-color: darken($brand-primary, 10%);
}


EntityBrowser QToolButton#entity-browser-reload-button {
    image: theme-image('reload');
}


EntityBrowser QToolButton#entity-browser-up-button {
    image: theme-image('upArrow');
}