/** EntityBrowser */

EntityBrowser QTabBar {
    border: 1px solid $gray-light;
    background: $white;
}


EntityBrowser QTabBar::tab {
    background: $brand-info;
    min-width: 0px;
    padding: 2px 8px;
    color: $white;
    border-radius: 3px;
    margin: 3px;
    margin-right: 0px;
}


EntityBrowser QTabBar::tab:selected {
    background-image: url();
    color: $white;
}