/** EntityBrowser */

EntityBrowser QTabBar {
    border: 1px solid $border;
    background: $background-raised ;
}


EntityBrowser QTabBar::tab {
    border: 1px solid $border;
    background: $background-raised ;
    min-width: 0px;
    padding: 2px 8px;
    color: $primary-text;
    border-radius: 3px;
    margin: 3px;
    margin-right: 0px;
}


EntityBrowser QTabBar::tab:selected {
    background-color: $highlight-background;
}


EntityBrowser QTabBar::tab:hover {
    background-color: $highlight-background;
}


EntityBrowser QToolButton#entity-browser-reload-button {}


EntityBrowser QToolButton#entity-browser-up-button {}