/** Form elements */
QLabel {
    color: $text-color;
}

QLabel[title] {
    font-weight: bold;
}

QComboBox {
    border: 1px solid $input-border-color;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $input-border-color;
    color: $text-color;

    &:hover {
        border-color: $input-border-color;
    }

    &:focus {
        border: 1px solid $input-border-color-focus;
    }
}

QTextEdit, QLineEdit  {
    border: 1px solid $input-border-color;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $input-border-color;
    color: $text-color;

    &:hover {
        border-color: $input-border-color;
    }

    &:focus {
        border: 1px solid #33313F;
    }
}