/** Form elements */
QLabel {
    color: $secondary-text ;
}

QLabel[title] {
    font-weight: bold;
}

QComboBox {
    border: 1px solid $border;
    border-radius: 2px;
    padding: $input-padding;
    background: $background-raised;
    selection-background-color: $highlight-background;
    color: $primary-text;

    &:hover {
        border-color: $border;
    }

    &:focus {
        border: 1px solid $border;
    }
}

QTextEdit, QLineEdit  {
    border: 1px solid $border;
    border-radius: 2px;
    padding: $input-padding;
    background: $background-raised;
    selection-background-color: $highlight-background;
    color: $primary-text;

    &:hover {
        border-color: $border;
    }

    &:focus {
        border: 1px solid $border;
    }
}

