QMenuBar {
    background: $background-raised;
}

QMenu {
    background: $background-raised;
}

QMenu::item {
    background: $background-raised;
    border: 0px;
    padding: 5px;
    color: $primary-text;
}

QMenu::item:selected:enabled {
    background: $highlight-background;
}

QMenu::item:pressed:enabled {
    background: $highlight-background;
}

QMenu::item:unchecked {
    margin-left: -10px;
}