/** Overlay */

BlockingOverlay {
        background-color: $overlay-bg;
        border: none;
}

BlockingOverlay QFrame#content {
        padding: 0px;
        border: 80px solid transparent;
        background-color: transparent;
        border-image: theme-image('boxShadow') 140 stretch;
}
BlockingOverlay QLabel {
        background: transparent;
}
