/** Overlay */

BusyOverlay {
    // Doesn't currently work due to Sass logic.
    // background-color: rgba(255, 255, 255, 200);
}

BusyOverlay QLabel {
    // Doesn't currently work due to Sass logic.
    // background: transparent;
}