/** Table */
QTableView {
    border: 1px solid $border;
    outline: 0;
    background: $body-background;

}
QTableView::item
{
    border: 0px;
    padding: 5px;
    background: $body-background;
    color: $primary-text;
}

QTableView::item:selected
{
    background: mix($body-background, $blend-color,95%);
}

QHeaderView {
    background-color: $body-background;
}
