/** Task List */
#task QLabel#title {
    // TODO: Change to use the same variable as in Timer.
    color: #82e3f6;
}

QFrame#tasklist {
    border: 0;
    margin: 20px 0 0 0;
}

QFrame#tasklist QTableWidget {
    background-color: transparent;
    border: 0;
}

QFrame#tasklist QTableWidget::item {
    background-color: transparent;
    border-bottom: 1px solid $input-border-color;
    padding: 0;
}

#tasklist QLabel#title {
    font-weight: bold;
}
