/** Timer */
#timer QLabel#title {
    font-weight: bold;
    color: $text-color-primary;
}

#timer QLineEdit#timeField {
    font-weight: bold;
    padding: 8px;
    width: 80px;
}

#timer QPushButton#primary {
    font-size: $title-font-size;
    padding: 8px;
    width: 80px;
}

#timer QPushButton[mode="start"]#primary {
    color: lighten($brand-primary, 50%);
    background-color: $brand-primary;
    border-color: darken($brand-primary, 5%);
}

#timer QPushButton[mode="start"]#primary:hover {
    background-color: darken($brand-primary, 5%);
    border-color: darken($brand-primary, 10%);
}

#timer QPushButton[mode="start"]#primary:pressed {
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 15%);
}

#timer QPushButton[mode="stop"]#primary {
    background-color: $brand-danger;
    border-color: lighten($brand-danger, 5%);
}

#timer QPushButton[mode="stop"]#primary:hover {
    background-color: lighten($brand-danger, 5%);
    border-color: lighten($brand-danger, 10%);
}

#timer QPushButton[mode="stop"]#primary:pressed {
    background-color: darken($brand-danger, 10%);
    border-color: darken($brand-danger, 15%);
}
