/** Timer */
#timer QLabel[title] {
    color: $text-color-primary;
}

#timer QLineEdit#timeField {
    font-weight: bold;
    padding: 8px;
    width: 80px;
}

#timer QPushButton#primary {
    padding: 8px;
    width: 80px;
}

#timer QPushButton[mode="start"]#primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

#timer QPushButton[mode="start"]#primary:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

#timer QPushButton[mode="start"]#primary:pressed {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

#timer QPushButton[mode="start"]:disabled#primary {
    background-color: $brand-primary;
    border-color: $brand-primary;
}

#timer QPushButton[mode="stop"]#primary {
    background-color: $brand-danger;
    border-color: $brand-danger;
}

#timer QPushButton[mode="stop"]#primary:hover {
    background-color: $brand-danger;
    border-color: $brand-danger;
}

#timer QPushButton[mode="stop"]#primary:pressed {
    background-color: $brand-danger;
    border-color: $brand-danger;
}

#timer QPushButton[mode="stop"]:disabled#primary {
    background-color: $brand-danger;
    border-color: $brand-danger;
}
