/** Timer */
#timer QLabel[title] {
    color: $text-color-primary;
}

#timer QLineEdit#timeField {
    font-weight: bold;
    padding: 8px;
    width: 80px;
}

#timer QPushButton#primary {
    padding: 8px;
    width: 80px;
}

#timer QPushButton[mode="start"]#primary {
    background-color: $brand-primary;
    border-color: darken($brand-primary, 5%);
}

#timer QPushButton[mode="start"]#primary:hover {
    background-color: darken($brand-primary, 5%);
    border-color: darken($brand-primary, 10%);
}

#timer QPushButton[mode="start"]#primary:pressed {
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 15%);
}

#timer QPushButton[mode="start"]:disabled#primary {
    background-color: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 15%);
}

#timer QPushButton[mode="stop"]#primary {
    background-color: $brand-danger;
    border-color: lighten($brand-danger, 5%);
}

#timer QPushButton[mode="stop"]#primary:hover {
    background-color: lighten($brand-danger, 5%);
    border-color: lighten($brand-danger, 10%);
}

#timer QPushButton[mode="stop"]#primary:pressed {
    background-color: darken($brand-danger, 10%);
    border-color: darken($brand-danger, 15%);
}

#timer QPushButton[mode="stop"]:disabled#primary {
    background-color: lighten($brand-danger, 20%);
    border-color: lighten($brand-danger, 15%);
}
