/** Time log list */
QFrame#time-log-list {
    border: 0;
    margin: 20px 0 0 0;
}

QFrame#time-log-list QTableWidget {
    background-color: transparent;
    border: 0;
}

QFrame#time-log-list QTableWidget::item {
    background-color: transparent;
    border-bottom: 1px solid $input-border-color;
    padding: 0;
}
