/** Tooltips */

QToolTip {
    border: 1px solid $border-color;
    border-radius: 2px;
    background-color: $white;
    color: $text-color;
    // Note: Bug in Qt causes padding to be ignored in sizing on some platforms.
    padding: 3px;
}
