/** Table */
QListView {
    border: 1px solid $border;
    outline: 0;
    background: $body-background;

}
QListView::item
{
    border: 0px;
    padding: 5px;
    background: $body-background;
    color: $primary-text;
}

QListView::item:hover
{
    background-color: $highlight-background ;
    color: $primary-text;
}

QListView::item:selected
{
    background-color: $highlight-background ;
    color: $primary-text;
}

QListView::item:disabled
{
    color: mix($body-background, $blend-color,70%);
}

QListView::indicator
{
    image: theme-image('checkbox_unchecked');
}

QListView::indicator:checked
{
    image: theme-image('checkbox_checked');
}

QListView::indicator:unchecked
{
    image: theme-image('checkbox_unchecked');
}

QListView::indicator:hover:!checked
{
    image: theme-image('checkbox_unchecked');
}

QListView::indicator:disabled
{
    image: theme-image('checkbox_unchecked_disabled');
}