/** Overlay */

BlockingOverlay {
        background-color: $body-background;
        border: none;
}

BlockingOverlay QFrame#content {
        padding: 0px;
        border: 80px solid transparent;
        background-color: transparent;
}
BlockingOverlay QLabel {
        background: transparent;
}
