/** Time tracker */

#ftrack-connect-window TimerOverlay {
    border: 1px dashed $input-border-color;
    background-color: rgba($overlay-bg, 200);
}

#ftrack-connect-window TimerOverlay QLabel {
    background: transparent;
}
