/** Time logger */

#ftrack-connect-window TimerOverlay {
    border: 1px dashed #ddd;
    background-color: rgba(255, 255, 255, 200);
}

#ftrack-connect-window TimerOverlay QLabel {
    background: transparent;
}
