// Fonts

$font-family-sans-serif:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base:        $font-family-sans-serif;
