/** Application window */
QMainWindow#ftrack-connect-window {
    background: $body-background ;
}

QLabel#login-label {
    font-size: 22px;
}

QLabel#regular-label {
    font-size: 15px;
    font-weight: normal;
}

* {
    font-family: $font-family-base;
}

QLabel#lead-label {
    font-size: 13px;
    color: $secondary-text;
    font-weight: normal;
}
 QPixmap{
     image: theme-image('ftrackLogoLabelDark');
 }
