/** Form elements */
QLabel {
    font-family: $font-family-base;
    color: $text-color;
}

QLineEdit {
    border: 1px solid $input-border-color;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $input-border-color;
    font-family: $font-family-base;
    color: $text-color;
}

QLineEdit:focus {
    border: 1px solid $input-border-color-focus;
}

QTextEdit {
    border: 1px solid $input-border-color;
    border-radius: 2px;
    padding: $input-padding;
    background: $input-background;
    selection-background-color: $input-border-color;
    font-family: $font-family-base; 
    color: $text-color;
}

QTextEdit:focus {
    border: 1px solid $input-border-color-focus;
}
