/*consistent base widgets size*/

QSpinBox {
  max-height: 25px;
  min-height: 25px;
}

QComboBox {
  max-height: 25px;
  min-height: 25px;
}

QPushButton {
  max-height: 25px;
  min-height: 25px;
}

QLineEdit {
  max-height: 25px;
  min-height: 25px;
}

/*header messages*/
QLabel#ftrack-header-message-error {
  background-color: rgba(255,0,0, 255);
  padding: 10px;
  border: none;
}

QLabel#ftrack-header-message-info {
  background-color: rgba(52, 152, 219, 255);
  padding: 10px;
  border: none;
}

QLabel#ftrack-header-message-warning {
  background-color: rgba(238, 99, 76, 255);
  padding: 10px;
  border: none;
}
