QDialog {
  background-color: #fafafa; }

  QFrame[ftrackDropZone] {
    border-radius: 2px;
    border-width: 2px;
    border-style: dashed;
    border-color: #e6e6e6; }
    QFrame[ftrackDropZone] > QLabel {
      color: #999; }

QFrame[ftrackDropZoneState='active'] {
  border-color: #1CBC90; }

  QFrame[ftrackDropZoneState='invalid'] {
    border-color: #E74C3C; }

    QLabel {
      color: #333; }

      QLabel[title] {
        font-weight: bold; }

        QLineEdit, QTextEdit, QComboBox {
          border: 1px solid #e6e6e6;
          border-radius: 2px;
          padding: 4px;
          background: white;
          selection-background-color: #e6e6e6;
          color: #333; }
          QLineEdit:hover, QTextEdit:hover, QComboBox:hover {
            border-color: #d9d9d9; }
            QLineEdit:focus, QTextEdit:focus, QComboBox:focus {
              border: 1px solid #1CBC90; }

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 8px;
  padding: 4px;
  border: 0; }

  QComboBox::down-arrow {
    image: url(':/ftrack/image/light/downArrow');
    width: 8px;
    height: 8px;
    margin-right: 4px; }

    QComboBox QAbstractItemView {
      background: white;
      color: #333;
      outline: 0;
      border: 1px solid #e6e6e6;
      border-radius: 2px; }

      QComboBox QAbstractItemView::item {
        padding: 4px 0; }

        QComboBox QAbstractItemView::item:selected {
          background-color: #eee;
          color: #333; }

          QComboBox[ftrackCurrentIndexIsDefault="true"] {
            color: #999; }

            QPushButton {
              border: 1px solid #dadada;
              border-radius: 2px;
              background-color: white;
              color: #333;
              padding: 4px;
              min-width: 80px; }

              QPushButton:hover {
                border-color: #e2e2e2;
                background-color: #eee; }

                QPushButton:pressed {
                  border-color: #e2e2e2;
                  background-color: #dadada; }

                  QPushButton:disabled {
                    border-color: #d5d5d5;
                    background-color: #e2e2e2;
                    color: #737373; }

                    QPushButton#primary {
                      border-color: #1CBC90;
                      color: #1CBC90; }

                      QPushButton#primary:hover {
                        background-color: #1CBC90;
                        border-color: #1CBC90;
                        color: white; }

                        QPushButton#primary:pressed {
                          background-color: #19a67f;
                          border-color: #19a67f;
                          color: white; }

                          QPushButton[flat="true"]:pressed {
                            background: none;
                            border: 1px solid #dadada; }

                            QToolButton {
                              border: 1px solid #dadada;
                              border-radius: 2px;
                              background-color: white;
                              color: #333; }

                              QToolButton:hover {
                                border-color: #e2e2e2;
                                background-color: #eee; }

                                QToolButton:pressed {
                                  border-color: #e2e2e2;
                                  background-color: #dadada; }

                                  QTabWidget::pane {
                                    border-top: 2px solid #eee;
                                    background: #fafafa; }

                                    QTabWidget::tab-bar {
                                      background: white; }

                                      QTabBar {
                                        background: white; }

                                        QTabBar::tab {
                                          background: white;
                                          min-width: 60px;
                                          padding: 8px 10px;
                                          color: #555; }

                                          QTabBar#application-tab-bar::tab:selected {
                                            background-image: url(':/ftrack/image/light/selectedTab');
                                            background-position: bottom center;
                                            background-repeat: none;
                                            color: #333; }

                                            QTableView {
                                              border: 1px solid #dadada;
                                              outline: 0; }

                                              QTableView::item {
                                                border: 0px;
                                                padding: 5px;
                                                background: white;
                                                color: #333; }

                                                QTableView::item:selected {
                                                  background: #eee; }

                                                  QHeaderView {
                                                    background-color: #eee; }

                                                    QMenu {
                                                      background: white; }

                                                      QMenu::item {
                                                        background: white;
                                                        border: 0px;
                                                        padding: 5px;
                                                        color: #333; }

                                                        QMenu::item:selected:enabled {
                                                          background: #f2f2f2; }

                                                          QMenu::item:pressed:enabled {
                                                            background: #e6e6e6; }

                                                            QScrollBar:vertical {
                                                              border: 0;
                                                              background: #fafafa;
                                                              width: 12px;
                                                              margin: 0; }

                                                              QScrollBar::handle:vertical {
                                                                border: 0;
                                                                border-radius: 4px;
                                                                background: #dadada;
                                                                margin: 2px; }

                                                                QScrollBar::add-line:vertical {
                                                                  border: 0;
                                                                  height: 0;
                                                                  background: white;
                                                                  subcontrol-position: bottom;
                                                                  subcontrol-origin: margin; }

                                                                  QScrollBar::sub-line:vertical {
                                                                    border: 0;
                                                                    height: 0;
                                                                    background: white;
                                                                    subcontrol-position: top;
                                                                    subcontrol-origin: margin; }

                                                                    ScrollingFlowWidget > QScrollArea, ScrollingFlowWidget > QScrollArea QWidget {
                                                                      background-color: transparent;
                                                                      border: none; }

                                                                      QFrame#publisher-componentlist {
                                                                        border: 0; }

                                                                        QFrame#publisher-componentlist QTableWidget {
                                                                          background-color: transparent;
                                                                          border: 0; }

                                                                          QFrame#publisher-componentlist QTableWidget::item {
                                                                            background-color: transparent;
                                                                            border: 0;
                                                                            padding: 0; }

                                                                            QFrame#ftrack-connect-thumbnail-drop-zone {
                                                                              padding: 4px; }

                                                                              #timer QLabel[title] {
                                                                                color: #548cd7; }

                                                                                #timer QLineEdit#timeField {
                                                                                  font-weight: bold;
                                                                                  padding: 8px;
                                                                                  width: 80px; }

                                                                                  #timer QPushButton#primary {
                                                                                    padding: 8px;
                                                                                    width: 80px; }

                                                                                    #timer QPushButton[mode="start"]#primary {
                                                                                      background-color: #1CBC90;
                                                                                      border-color: #19a67f; }

                                                                                      #timer QPushButton[mode="start"]#primary:hover {
                                                                                        background-color: #19a67f;
                                                                                        border-color: #15906e; }

                                                                                        #timer QPushButton[mode="start"]#primary:pressed {
                                                                                          background-color: #15906e;
                                                                                          border-color: #12795d; }

                                                                                          #timer QPushButton[mode="start"]:disabled#primary {
                                                                                            background-color: #58e6bf;
                                                                                            border-color: #42e3b7; }

                                                                                            #timer QPushButton[mode="stop"]#primary {
                                                                                              background-color: #E74C3C;
                                                                                              border-color: #ea6153; }

                                                                                              #timer QPushButton[mode="stop"]#primary:hover {
                                                                                                background-color: #ea6153;
                                                                                                border-color: #ed7669; }

                                                                                                #timer QPushButton[mode="stop"]#primary:pressed {
                                                                                                  background-color: #d62c1a;
                                                                                                  border-color: #bf2718; }

                                                                                                  #timer QPushButton[mode="stop"]:disabled#primary {
                                                                                                    background-color: #f29f97;
                                                                                                    border-color: #ef8b80; }

                                                                                                    #time-log QLabel[title] {
                                                                                                      color: #548cd7; }

                                                                                                      QFrame#time-log-list {
                                                                                                        border: 0;
                                                                                                        margin: 20px 0 0 0; }

                                                                                                        QFrame#time-log-list QTableWidget {
                                                                                                          background-color: transparent;
                                                                                                          border: 0; }

                                                                                                          QFrame#time-log-list QTableWidget::item {
                                                                                                            background-color: transparent;
                                                                                                            border-bottom: 1px solid #e6e6e6;
                                                                                                            padding: 0; }

                                                                                                            EntityBrowser QTabBar {
                                                                                                              border: 1px solid #999;
                                                                                                              background: white; }

                                                                                                              EntityBrowser QTabBar::tab {
                                                                                                                background: #1CBC90;
                                                                                                                min-width: 0px;
                                                                                                                padding: 2px 8px;
                                                                                                                color: white;
                                                                                                                border-radius: 3px;
                                                                                                                margin: 3px;
                                                                                                                margin-right: 0px; }

                                                                                                                EntityBrowser QTabBar::tab:selected {
                                                                                                                  color: white; }

                                                                                                                  EntityBrowser QTabBar::tab:hover {
                                                                                                                    background-color: #19a67f;
                                                                                                                    border-color: #15906e; }

                                                                                                                    QToolTip {
                                                                                                                      border: 1px solid #dadada;
                                                                                                                      border-radius: 2px;
                                                                                                                      background-color: white;
                                                                                                                      color: #333;
                                                                                                                      padding: 3px; }

                                                                                                                      QRadioButton::indicator {
                                                                                                                        width: 13px;
                                                                                                                        height: 13px; }

                                                                                                                        QRadioButton::indicator::unchecked {
                                                                                                                          image: url(':/ftrack/image/light/radiobutton_unchecked'); }

                                                                                                                          QRadioButton::indicator:unchecked:hover {
                                                                                                                            image: url(':/ftrack/image/light/radiobutton_unchecked_hover'); }

                                                                                                                            QRadioButton::indicator:unchecked:pressed {
                                                                                                                              image: url(':/ftrack/image/light/radiobutton_unchecked_pressed'); }

                                                                                                                              QRadioButton::indicator::checked {
                                                                                                                                image: url(':/ftrack/image/light/radiobutton_checked'); }

                                                                                                                                QRadioButton::indicator:checked:hover {
                                                                                                                                  image: url(':/ftrack/image/light/radiobutton_checked_hover'); }

                                                                                                                                  QRadioButton::indicator:checked:pressed {
                                                                                                                                    image: url(':/ftrack/image/light/radiobutton_checked_pressed'); }

                                                                                                                                    QMainWindow#ftrack-connect-window {
                                                                                                                                      background: white; }

                                                                                                                                      QLabel#login-label {
                                                                                                                                        font-size: 22px; }

                                                                                                                                        QLabel#regular-label {
                                                                                                                                          font-size: 15px;
                                                                                                                                          font-weight: light; }

                                                                                                                                          QLabel#lead-label {
                                                                                                                                            font-size: 15px;
                                                                                                                                            color: #999;
                                                                                                                                            font-weight: light; }

                                                                                                                                            * {
                                                                                                                                              font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

                                                                                                                                              QLabel#lead-label {
                                                                                                                                                font-size: 13px;
                                                                                                                                                color: #999;
                                                                                                                                                font-weight: light; }

                                                                                                                                                QPushButton#ftrack-connect-publisher-browse-button {
                                                                                                                                                  margin: 10px; }

                                                                                                                                                  #ftrack-connect-window TimerOverlay {
                                                                                                                                                    border: 1px dashed #e6e6e6;
                                                                                                                                                    background-color: white; }

                                                                                                                                                    #ftrack-connect-window TimerOverlay QLabel {
                                                                                                                                                      background: transparent; }

                                                                                                                                                      QFrame#HarnessGuiController {
                                                                                                                                                        border: 2px inset #999;
                                                                                                                                                        background-color: #eee; }
