$dark-blue: #131920;
$body-background : $dark-blue;
$background-raised : $dark-blue;
$primary-color : #FFDD86;
$primary-text : rgba(255, 255, 255, 0.87);
$secondary-text : rgba(255, 255, 255, 0.6);
$muted-text : rgba(255, 255, 255, 0.38);
$disabled : rgba(255, 255, 255, 0.25);
$border : rgba(255, 255, 255, 0.1);
$highlight-background : rgba(255, 255, 255, 0.05);
$error : #FF7A73;
$warning : #FFBA5C;
$success : #79DFB6;
$blend-color: white;