// TODO: Test and tweak the dark theme.

// Primary brand colors
$color-purple: #935BA2;
$color-purple-contrast: white;
$color-purple-dark: #33313F;
$color-purple-light-1: #B38CBE;
$color-purple-light-2: #F2EBF4;



// Dark shades, from dark to lighter
$color-dark-1: #131920;
$color-dark-2: lighten($color-dark-1, 10%);
$color-dark-3: lighten($color-dark-2, 10%);

// Grays
$gray-darker:           $color-dark-1; // #222
$gray-dark:             $color-dark-1;   // #333
$gray:                  $color-dark-3; // #555
$gray-light:            $color-dark-2;   // #999
$gray-lighter:          $color-purple; // #eee
$white-almost:          $color-dark-1;
$white:                 $color-dark-1;


$color-green: #1CBC90;
$color-blue: #3498DB;
$color-orange: #E67E22;
$color-yellow: #F1C500;
$color-red: #E74C3C;
$color-white: white;

$brand-primary:         $color-purple;
$brand-success:         $color-green;
$brand-info:            $color-blue;
$brand-warning:         $color-yellow;
$brand-danger:          $color-red;

$body-bg:                       $color-dark-1;
$text-color:                    darken(white, 5%);
$text-color-default:            $text-color;
$text-color-default-hover:      darken($text-color-default, 5%);
$text-color-default-pressed:    darken($text-color-default, 5%);
$text-color-light:              white;
$text-color-primary:            #548cd7;
$text-color-drop-zone:          lighten($gray-light, 15%);
$border-color:                  $brand-primary;

$overlay-bg:            $gray-dark;
$inset-bg:              $gray-lighter;
$inset-border-color:    $gray-light;
