// TODO: Test and tweak the dark theme.

// Primary brand colors
$color-purple: #935BA2;
$color-purple-contrast: white;
$color-purple-dark: #33313F;
$color-purple-light-1: #B38CBE;
$color-purple-light-2: #F2EBF4;



// Dark shades, from dark to lighter
$color-dark-1: #232A2F;
$color-dark-2: #282E34;
$color-dark-3: #30363C;


// Grays
$gray-darker:           $color-dark-1; // #222
$gray-dark:             $color-dark-1;   // #333
$gray:                  $color-purple-light-1; // #555
$gray-light:            $color-dark-2;   // #999
$gray-lighter:          $color-dark-3; // #eee
$white-almost:          $color-dark-2;
$white:                 $gray-lighter;


$color-green: #1CBC90;
$color-blue: #3498DB;
$color-orange: #E67E22;
$color-yellow: #F1C500;
$color-red: #E74C3C;
$color-white: white;

$brand-primary:         $color-purple;
$brand-success:         $color-green;
$brand-info:            $color-blue;
$brand-warning:         $color-yellow;
$brand-danger:          $color-red;

$body-bg:                       $gray-lighter;
$text-color:                    white;
$text-color-default:            white;
$text-color-default-hover:      darken($text-color-default, 5%);
$text-color-default-pressed:    darken($text-color-default, 5%);
$text-color-light:              white;
$text-color-primary:            #548cd7;
$border-color:                  $color-purple;

$overlay-bg:            $gray-dark;

$inset-bg:              $gray-lighter;
$inset-border-color:    $gray-light;
