// Grays
$gray-darker:           lighten(#000, 13.5%); // #222
$gray-dark:             lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$gray-light:            lighten(#000, 60%);   // #999
$gray-lighter:          lighten(#000, 93.5%); // #eee
$white-almost:          #fafafa;
$white:                 white;


// Primary brand colors
$color-purple: #935BA2;
$color-purple-contrast: white;
$color-purple-dark: #33313F;
$color-purple-light-1: #B38CBE;
$color-purple-light-2: #F2EBF4;

$color-green: #1CBC90;
$color-blue: #3498DB;
$color-orange: #E67E22;
$color-yellow: #F1C500;
$color-red: #E74C3C;
$color-white: white;

$brand-primary:         $color-purple;
$brand-success:         $color-green;
$brand-info:            $color-blue;
$brand-warning:         $color-yellow;
$brand-danger:          $color-red;

$body-bg:                       $color-purple-light-1;
$text-color:                    $gray-dark;
$text-color-default:            black;
$text-color-default-hover:      $text-color-default;
$text-color-default-pressed:    $text-color-default;
$text-color-light:              $gray;
$text-color-primary:            #548cd7;
$text-color-drop-zone:          $gray-light;
$border-color:                  $gray-lighter;

$overlay-bg:            $white;

$inset-bg:              $gray-lighter;
$inset-border-color:    $gray-light;
