// TODO: Test and tweak the dark theme.

// Colors

// Grays
$gray-darker:           darken(#FFF, 13.5%); // #222
$gray-dark:             darken(#FFF, 20%);   // #333
$gray:                  darken(#FFF, 33.5%); // #555
$gray-light:            darken(#FFF, 60%);   // #999
$gray-lighter:          darken(#FFF, 93.5%); // #eee
$white-almost:          #222;
$white:                 $gray-lighter;

$color-green: #1CBC90;
$color-blue: #3498DB;
$color-purple: #9b59b6;
$color-orange: #E67E22;
$color-yellow: #F1C500;
$color-red: #E74C3C;
$color-white: white;

$brand-primary:         $color-green;
$brand-success:         $color-green;
$brand-info:            $color-blue;
$brand-warning:         $color-yellow;
$brand-danger:          $color-red;

$body-bg:               $white;
$text-color:            $gray-dark;
$text-color-light:      $gray-light;
$text-color-primary:    #548cd7;
$border-color:          $gray-light;

$overlay-bg:            $gray-dark;

$inset-bg:              $gray-lighter;
$inset-border-color:    $gray-light;
