$dark-blue: #131920;
$body-background : #F8F8F9;
$background-raised : #FFFFFF;
$primary-color : #FFCD45;
$primary-text : rgba(19, 25, 32, 0.87);
$secondary-text : rgba(19, 25, 32, 0.6);
$muted-text : rgba(19, 25, 32, 0.38);
$disabled : rgba(19, 25, 32, 0.25);
$border : rgba(19, 25, 32, 0.1);
$highlight-background :  rgba(180, 180, 180, 0.8);
$error : #FF5A4C;
$warning : #FF9D2C;
$success : #00AD62;
$blend-color: $dark-blue;