// Fonts
$font-family-sans-serif:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-roboto:     'Roboto', sans-serif;
$font-family-base:        $font-family-roboto;

// Input
$input-background: $white;
$input-border-color: $input-background;
$input-border-color-focus: $brand-primary;
$input-border-color-invalid: $brand-danger;
$input-padding: 4px;
$input-border-radius: 2px;
